*{
    overflow-x: hidden;
}
body{
    background-color: #121212;
}

::selection{
    background-color: rgba(255, 242, 140, 0.47);
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

#welcome>h1{
    font-family: 'Neonderthaw', cursive;
    color: white;
    font-size: 120px;
    text-align: center;
    margin: 0;
}

#welcome h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 40px;
    display: flex;
}

.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.25s linear;
    z-index: 10;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px); /*background blur*/
}

#pointer{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icons{
    display: flex;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 3;
}

#icons *{
    color: white;
    font-size: 25px;
    margin: 10px;
}

a, a:link, a:visited{
    text-decoration: none;
    color: white;
}

li a, li a:link, li a:visited{
    color: black;
}

#page_nr{
    color: white;
    font-family: 'Dosis', sans-serif;
    position: fixed;
    top: 100%;
    left: 100%;
    font-size: 25px;
    transform: translate(-100%, -100%);
    padding: 30px;
    z-index: 3;
}

#lang_choose{
    color: white;
    font-family: 'Dosis', sans-serif;
    position: fixed;
    top: 0;
    left: 100%;
    font-size: 25px;
    transform: translateX(-100%);
    padding: 30px;
    z-index: 3;
}

#lang_choose:hover{
    cursor: pointer;
}

#page_nr span:first-child, #lang_choose a:first-child{
    color: #FF0005;
}

#lang_choose a:hover{
    font-size: 30px;
    transition: all 0.7s ease;
}
#icons a:hover{
    color: #FFF28C;
}

#about_me, #projects, #contact, #skills{
    color: white;
    width: 100vw;
    min-height: 100vh;
}


.title{
    position: relative;
    left: -50%;
    transition: all .5s linear;

    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    letter-spacing: 10px;
    color: #959595;
    margin: 100px 0 0 40px;
}

.desc{
    font-family: 'Rubik', sans-serif;
    width: 80vw;
    font-size: 25px;
    hyphens: auto;
    padding: 10px;
    margin: 0 auto;
}

/* Scroller welcome styling */
.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 5em;
}
.scroller > span {
    position: relative;
    top: 0;
    animation: slide 7s infinite;
}

#nav{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    margin-top: 20px;
    z-index: 3;
}

#nav:hover{
    cursor: pointer;
}

.nav-belt{
    display: block;
    height: 3px;
    border-radius: 40px;
    background-color: white;
    margin: 6px auto;
    z-index: 3;
    position: relative;
}
.nav-belt:first-child, .nav-belt:last-child{
    width: 50px;
}

.nav-belt:nth-child(2){
    width: 30px;
}

#burger-nav-elements{
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 20%;
    background-color: #fffaee;
    width: 120vw;
    height: 90vh;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    z-index: 2;
}

#burger-nav-elements ul{
    color: black;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0;
}

li{
    margin: 35px 0;
    box-sizing: border-box;
}


li:after{
    display: block;
    content: '';
    border-bottom: solid 1px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
li:hover:after{
    transform: scaleX(1);
}

#grind-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
    margin: 50px auto;
    min-height: 60vh;
    border: solid 2px white;
    overflow: hidden;
    column-gap: 10px;
    row-gap: 10px;
}

.grid-item{
    min-height: 10vh;
    text-align: center;
    padding: 10px;
    transform: scale(0); /* animation */
    transition: all .5s ease-in-out;
}

.grid-item i{
    font-size: 50px;
}

img{
    width: 50px;
    height: 50px;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -1.2em;
    }
    50% {
        top: -2.4em;
    }
    75% {
        top: -3.6em;
    }
}

#projects_list{
    display: flex;
    justify-content: center;
}

.project-item{
    width: 40vw;
    height: 60vh;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 1s linear;
}

.project-item:first-child{
    left: -100%;
}
.project-item:last-child{
    left: 100%;
}
.card-title{
    position: absolute;
    top: 150%;
    transform: translateY(-100%);
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    background-color: rgba(255, 242, 140, 0.5);
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px 0;
    height: 0;
    transition: all 0.7s ease;
    overflow: hidden;
}

.card-title a{
    color: black;
    padding: 0 0 15px 0;
    font-family: 'Rubik', sans-serif;
}

.card-title a:hover{
    cursor: pointer;
}

.card-bg{
    width: 40vw;
    height: 60vh;
    transition: all .7s ease-in-out;
}

.project-item:hover .card-title{
    height: 30%;
    top: 100%;
}

.project-item:hover .card-bg{
    transform: scale(1.2);
}


.project-item:first-child .card-bg{
    background: url("resources/icons/furniture_project.jpg");
    background-size: cover;
}

.project-item:last-child .card-bg{
    background: url("resources/icons/pyramid.jpg");
    background-size: cover;
}

#more_projects{
    width: 150px;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 30px;
    border: none;
    margin: 20px 0;
    outline: none;
    background-color: #121212;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-sizing: content-box;
}

#more_projects:hover{
    cursor: pointer;
}

#more_projects:after, #more_projects:before, .card-title a:after, .card-title a:before{
    display: block;
    margin-top: 5px;
    content: '';
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.card-title a:after, .card-title a:before{
    border-color: black;
}

#more_projects:hover:after, #more_projects:hover:before, .card-title a:hover:after, .card-title a:hover:before{
    transform: scaleX(1);
}


@media (max-width: 1050px) {
    #grind-container{
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        margin: 30px auto;
    }

    #projects_list{
        flex-direction: column;
    }

    .project-item{
        width: 90vw;
        margin: 20px auto;
    }
    .card-bg{
        width: 100%;
    }
}

@media (max-width: 900px) {
    #grind-container{
        grid-template-columns: auto auto;
    }
}
@media (max-width: 500px) {
    #grind-container{
        grid-template-columns: auto;
    }
}

form{
    border: 1px solid white;
    width: 50vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;

}
label{
    display: block;
    margin: 5px 0;
}

.form-item{
    margin: 10px 0;
    width: 100%;
}

input, textarea{
    min-width: 80%;
    background-color: #121212;
    outline: none;
    border: 1px solid white;
    color: #FFF28C;
    font-size: 23px;
    padding: 10px;
}
input{
    min-height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
    -webkit-text-fill-color: #FFF28C !important;
}



textarea{
    min-height: 100px;
    resize: vertical;
}

button{
    /*border: 1px solid white;*/
    border: none;
    background-color: #FFF28C;
    min-width: 100px;
    min-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    color: black;

    transition: all ease-in-out .5s;
}

button:hover{
    background-color: #121212;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

#contact-options{
    display: flex;
    box-sizing: border-box;
    column-gap: 10px;
    padding-top: 20px;
    justify-content: center;
}

#desc{
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    width: 40vw;
}

#desc a{
    margin: 30px 0;
    display: block;
}
#desc a p{
    display: inline;
    padding-left: 10px;
}

#fb:hover{
    color: #4267B2;
}

#linkedin:hover{
    color: #0e76a8;
}

