@media (max-width: 500px) {
    .project-title{
        font-size: 25px;
    }
    .technologies p, .project-description{
        font-size: 15px;
    }
    .project-title{
        width: 80%;
    }
    .id{
        width: 20%;
    }
}

@media (max-width: 1050px) {
    #grid-container{
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        margin: 30px auto;
    }

    #projects_list{
        flex-direction: column;
    }

    .project-item{
        width: 90vw;
        margin: 20px auto;
    }
    .card-bg{
        width: 100%;
    }
}

@media (max-width: 900px) {
    #grid-container{
        grid-template-columns: auto auto;
    }
    .project-item{
        width: 80vw;
    }
    #welcome>h1{
        font-size: 90px;
    }
    #welcome>h2{
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    #grid-container{
        grid-template-columns: auto;
    }
    .title{
        font-size: 8vw;
        margin-left: 5px;
    }
    #welcome>h1{
        font-size: 50px;
    }
    #welcome>h2{
        font-size: 25px;
    }
    #icons{
        flex-direction: column;
        position: absolute;
    }
    .cursor{
        display: none;
    }
    #nav, #lang_choose{
        position: absolute;
    }
    table{
        margin-top: 200px;
    }

    #more_projects{
        margin: 0;
    }

    #contact{
        margin-top: 100px;
    }

    #about_me{
        min-height: 50vh;
    }

}

@media (max-width: 750px) {
    .title{
        font-size: 10vw;
    }
}
@media(max-width: 1230px){
    #contact-options{
        flex-direction: column;
    }
    form{
        width: 95vw;
        margin-bottom: 100px;
    }
    #desc{
        width: 95vw;
    }
}
@media(max-width: 660px){
    form{
        width: 90vw;
        margin-bottom: 100px;
    }
    input, textarea{
        width: 90%;
    }
    #desc{
        width: 90vw;
    }
    #welcome>h1{
        font-size: 70px;
    }
    .desc, #contact-desc, #fb, #linkedin{
        font-size: 20px;
    }
    #burger-nav-elements ul{
        font-size: 25px;
    }
}
